
/*Defines master template layout - Do not touch*/
body {
    margin: 0.5rem; /*Set default offset from browser window to 0.5 rem*/
    display: grid;  
    row-gap: 0.5rem;    /*vertical distance between header, body, and footer*/
}

/* controls margin of components we toss into the panel cards */
.c-panel {
    margin: 0.5rem;
}

.c-panel--graph {
    height: 90%;
}

/*Reference for controlling grid placement: 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
Adjust this to change layout of content*/

/*header grid layout*/
.c-headerGrid {
    border: black solid 1px;
    display: grid;
    grid-template-columns: 1fr 4fr; /* 1 fr logo, 4fr tabs */
    align-items: center;
    padding: 0.25em 1em 0.25em 1em;
}

.c-headerWrapLeft {
    grid-column: 1 / 2;
    padding: 0.5rem; /* to match flex centering size */
    border: solid 1px black; 
}

.c-headerWrapRight {
    grid-column: 2 / 3;
}

.c-voxa-logo {
    max-width: 100px;
}

/*Adjust this to change content grid pattern*/
.c-mainGrid {
    border: black solid 1px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* 1 x 1 */
    align-items: stretch;
}

.c-mainGrid--fullpage {
    grid-auto-rows:minmax(800px, auto);
    grid-template-columns: 1fr; /*NOTE: THIS OVERRIDES c-mainGrid, but needs to be AFTER c-mainGrid in stylesheet */
}

/*Adjust this to change child behavior of grid*/
.c-mainGrid__child {
    border: black solid 1px;
    margin: 0.5rem;
    min-height: 50px;
}

/* footer control & positioning */
.c-footerGrid {
    border: black solid 1px;
    display: grid;
    grid-template-columns: 2fr 1fr; 
    align-items: center;    /* can change this for adjusting behavior */
}

.c-footerGrid__child {
    border: black solid 1px;
    margin: 0.5rem;
    min-height: 50px;
}

.c-footerGrid__child-ul {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
}

.c-footer__child-li {
    flex: 0 1 25px; /*lets make it size of img constraint*/
    margin: 0rem 1rem 0rem 1rem;
}

/* table control example */
.c-table {
    table-layout: fixed;
    width: 100%;    /* let's take up 100% of block */
    white-space: nowrap;    /* forces content into overflow instead of wrapping */
}

.c-table th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: black;
    color: white;
}

.c-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    /* forces ... on overflow */
    border: solid 1px black;
}

.c-table-th1 {
    width: 50%;
    border: solid 1px black;
}

.c-table-th2 {
    width: 30%;
    border: solid 1px black;
}

.c-table-th3 {
    width: 20%;
    border: solid 1px black;
}

.c-table-descriptor {
    padding-left: 0.5rem;
    text-align: left;
}

.c-table-data {
    padding-right: 0.5rem;
    text-align: right;
}

.c-table-units {
    padding-left: 0.5rem;
    text-align: left;
}

form {
    border: 1px dashed black;
    padding: 0.25rem;
    margin: 0.25rem 0rem;
}

form label {
    font-size: 0.9rem;
    text-decoration: bold;
    padding-right: 0.5rem;
}

@media  screen and (max-width: 500px) {
    .c-mainGrid {
}
}

/* https://codeconvey.com/pure-css-responsive-navbar/ */

.nav {
height: 50px;
width: 100%;
background-color: black;
position: relative;
}

.nav > .nav-header {
display: inline;
}

.nav > .nav-header > .nav-title {
display: inline-block;
font-size: 22px;
color: #fff;
padding: 10px;
}

.nav > .nav-links {
display: inline;
float: right;
font-size: 18px;
}

.nav > .nav-links > a {
display: inline-block;
padding: 13px 10px 16px 10px;
text-decoration: none;
color: #efefef;
}

.nav > .nav-links > a:hover {
background-color: rgba(255, 255, 255, 1);
color:black;
cursor: pointer;
}

.nav > .nav-btn,
.nav > #nav-check {
display: none;
}

@media (max-width:600px) {
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
}

.nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
}
}