<!DOCTYPE HTML>
{% block html %}
<html lang='EN-US'>
    {% block head %}
    <head>
        {% block meta %}
        <meta charset='UTF-8'>
        <meta name="author" content="Voxa">
        <meta name="description" content="Splash Page">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/layout.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        {% endblock %}

        {% block scripts %}
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <!-- Load our React component. -->
        <script src="./static/scripts/like_button.js"></script>
        <!-- Websocket Scripts-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        {% endblock %}

        {% block morescripts %}
        {% endblock %}
        
        {% block title %} 
        <title>Voxa Template</title>
        {% endblock %}

        <link rel="shortcut icon" type="image/png" href="{{ url_for('.static', filename='images/icons/voxa_favicon_32.png') }}" sizes="32x32"/>
        <link rel="apple-touch-icon" type="image/png" href="{{ url_for('.static', filename='images/icons/voxa_favicon_256.png') }}" sizes="256x256"/>
    </head>
    {% endblock %}

    {% block body %}
    <body id="body-style">
        {% block navbar %}
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header">
              <div class="nav-title">
                <a class="c-logo" href="{{ url_for('index') }}">
                    <img class="c-voxa-logo" 
                    src="{{ url_for('static', filename='images/logo_voxa.png') }}" alt="Voxa Logo">
                </a>
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="{{ url_for('index')}}">Home</a>
              <a href="{{ url_for('grafana')}}">Grafana</a>
              <a href="#3">Tab 3</a>
              <a href="#4">Tab 4</a>
              <a href="#5">Tab 5</a>
            </div>
          </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
        <footer class="c-footerGrid">
            <div class="c-footerGrid_child">
                <p>© 2021 Voxa Labs, Inc. All Rights Reserved.</p>
            </div>
            <div class="c-footerGrid_child">
                <ul class="c-footerGrid__child-ul">
                    <li class="c-footer__child-li">
                        <a href="#" target="_blank">
                            <img class="o-img--centerimg c-footer-logo" src="{{ url_for('static', filename='images/icons/gitcat_icon.png') }}" alt="GitHub">
                        </a>
                    </li>
                    <li class="c-footer__child-li">
                        <a href="#" target="_blank">
                            <img class="o-img--centerimg c-footer-logo" src="{{ url_for('static', filename='images/icons/linkedin_icon.png') }}" alt="LinkedIn">
                        </a>
                    </li>
                    <li class="c-footer__child-li">
                        <a href="#" target="_blank">
                            <img class="o-img--centerimg c-footer-logo" src="{{ url_for('static', filename='images/icons/spotify_icon.png') }}" alt="Spotify">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
        {% endblock %}
    </body>
    {% endblock %}
</html>
{% endblock %}
