{% extends "base.html" %}

{% block title %}<title>Index</title>{% endblock %}
{% block navbar %}
<div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        <a class="c-logo" href="{{ url_for('index') }}">
            <img class="c-voxa-logo" 
            src="{{ url_for('static', filename='images/logo_voxa.png') }}" alt="Voxa Logo">
        </a>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <div class="nav-links">
      <a href="#1">Tab 1</a>
      <a href="#2">Tab 2</a>
      <a href="#3">Tab 3</a>
      <a href="#4">Tab 4</a>
      <a href="#5">Tab 5</a>
    </div>
  </div>
{% endblock %}
{%block content %}
<!--Enter content panel here -->

<main class = "c-mainGrid">
    <div class="c-mainGrid__child">
        <h2>Panel1</h2>
        <div class="renderText"></div>
        <div class="renderInput"></div>
        <div class="c-panel like_button_container" data-commentid="2"></div>
        <div class ="c-panel new_like_button_container" data-commentid="1"></div>
    </div>
    <div class="c-mainGrid__child">
        <h2>Panel2</h2>
    </div>
    <div class="c-mainGrid__child">
        <h2>Panel3</h2>
        <div class="c-panel panel3">
            <iframe src="http://10.0.0.89:3000/d-solo/RISoycRgk/test-panel?orgId=1&from=1610926141126&to=1610947741126&panelId=2" width="100%" height="200" frameborder="0"></iframe>    </div>
    <div class="c-mainGrid__child">
        <h2>Panel4</h2>
        <div class ="c-panel"></div>
    </div>
    <div class="c-mainGrid__child">
        <h2>Panel5</h2>
        <div class="c-panel">
            <table class="c-table">
                <thead>
                    <tr>
                        <th scope="col" class="c-table-th1">Descriptor Head</th>
                        <th scope="col" class="c-table-th2">Data Head</th>
                        <th scope="col" class="c-table-th3">Units Head</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-A</td>
                        <td class='c-table-data'>Data-A</td>
                        <td class='c-table-units'>Units-A</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-B</td>
                        <td class='c-table-data'>Data-B</td>
                        <td class='c-table-units'>Units-B</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-C</td>
                        <td class='c-table-data'>Data-C</td>
                        <td class='c-table-units'>Units-C</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-D</td>
                        <td class='c-table-data'>Data-D</td>
                        <td class='c-table-units'>Units-D</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-E</td>
                        <td class='c-table-data'>Data-E</td>
                        <td class='c-table-units'>Units-E</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-F</td>
                        <td class='c-table-data'>Data-F</td>
                        <td class='c-table-units'>Units-F</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'>Descriptor-G</td>
                        <td class='c-table-data'>Data-G</td>
                        <td class='c-table-units'>Units-G</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="c-mainGrid__child">
        <h2>Panel6</h2>
        <div class ="c-panel panel6">
            <form action="/" method="post" id="form1">
                <label for="input1">Set Filament Voltage: </label>
                    <input type="text" size="8" maxlength="8" id="input1" name="input1" placeholder="voltage (V)">
                <button = "submit" name="input1">Submit</button>
            </form>
            <form action="/" method="post" id="form1">
                <label for="input2">Set Filament Current: </label>
                    <input type="text" size="8" maxlength="8" id="input2" name="input2" placeholder="current (A)">
                <button = "submit" name="input2">Submit</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
