{% block navbar %}
<!--nav wrapper-->
<div class="c-headerGrid c-headerGrid-style">
    <div class="c-headerWrapLeft">
        <a class="c-logo" target="_blank" href="http://voxa.co">
            <img class="c-voxa-logo" 
            src="{{ url_for('static', filename='images/logo_voxa.png') }}" alt="Voxa Logo">
        </a>
    </div>                 
    <nav class="c-headerWrapRight">
        <ul class="c-nav-ul o-ul--flexstyle">
            <li class="c-nav-ul__li"><a class="c-nav-ul-li-a" href="#">Tab1</a></li>
            <li class="c-nav-ul__li"><a class="c-nav-ul-li-a" href="#">Tab2</a></li>
            <li class="c-nav-ul__li"><a class="c-nav-ul-li-a" href="#">Tab3</a></li>
            <li class="c-nav-ul__li"><a class="c-nav-ul-li-a" href="#">Tab4</a></li>
            <li class="c-nav-ul__li"><a class="c-nav-ul-li-a" href="#">Tab5</a></li>
        </ul>
    </nav>
</div>
{% endblock %}