{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">  
  .form-number {
    width: 6rem;
  }

  #testtoss {
    margin-left: 1rem
  }

  input {
      text-align: center;
  }

  input:invalid {
      border: 0.5px solid red;
  }
</style>
{% endblock %}

{% block title %}<title>WebSocket Example Page</title>{% endblock %}

{% block content %}
<main class = "c-mainGrid">
    <div class="c-mainGrid__child">
        <h2>Websocket Forms</h2>
        <div class ="c-panel panel7">
            <!--Example text form-->
            <form id="form1" action="/" method="post" action="#">
                <label for="input1">Change Device Name: </label>
                    <input type="text" size="8" maxlength="14" id="input1-text" name="input1" placeholder="&lt;15 char">
                    <span class="validity"></span>
                <button name="input1" id="input1-button" type="button">Submit</button>
            </form>
            <!--Example numerical form-->
            <form id="form2" action="/" method="" action="#">
                <label for="input2">Set Filament Voltage: </label>
                    <input type="number" class="form-number" id="input2-number" name="input2" placeholder="0-10V" 
                    step="0.10" min="0" max="10">
                <button name="input2" id="input2-button" type="button">Submit</button>
                <span id='testtoss'>0 V</span>
            </form>

            <form id="emit" method="POST" action='#'>
                <input type="text" name="emit_data" id="emit_data" placeholder="Message">
                <input type="submit" value="Echo">
            </form>
        </div>
    </div>
    <div class="c-mainGrid__child">
        <h2>Websocket Table</h2>
        <div class="c-panel panel2">
            <table class="c-table">
                <thead>
                    <tr>
                        <th scope="col" class="c-table-th1" id="tableHead0">Descriptor Head</th>
                        <th scope="col" class="c-table-th2" id="tableHead1">Data Head</th>
                        <th scope="col" class="c-table-th3" id="tableHead2">Units Head</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class='c-table-descriptor' id='rowA0'>Descriptor-A</td>
                        <td class='c-table-data' id='rowA1'>Data-A</td>
                        <td class='c-table-units' id='rowA2'>Units-A</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowB0'>Descriptor-B</td>
                        <td class='c-table-data' id='rowB1'>Data-B</td>
                        <td class='c-table-units' id='rowB2'>Units-B</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowC0'>Descriptor-C</td>
                        <td class='c-table-data' id='rowC1'>Data-C</td>
                        <td class='c-table-units' id='rowC2'>Units-C</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor'id='rowD0'>Descriptor-D</td>
                        <td class='c-table-data' id='rowD1'>Data-D</td>
                        <td class='c-table-units'id='rowD2'>Units-D</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowE0'>Descriptor-E</td>
                        <td class='c-table-data' id='rowE1'>Data-E</td>
                        <td class='c-table-units'id='rowE2'>Units-E</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowF0'>Descriptor-F</td>
                        <td class='c-table-data' id='rowF1'>Data-F</td>
                        <td class='c-table-units' id='rowF2'>Units-F</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowG0'>Descriptor-G</td>
                        <td class='c-table-data' id='rowG1'>Data-G</td>
                        <td class='c-table-units' id='rowG2'>Units-G</td>
                    </tr>
                    <tr>
                        <td class='c-table-descriptor' id='rowH0'>Descriptor-H</td>
                        <td class='c-table-data' id='rowH1'>Data-H</td>
                        <td class='c-table-units' id='rowH2'>Units-H</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block morescripts %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        var socket = io();
        let input1Text= document.querySelector('#input1-text')
        socket.on('my response', function(msg) {
            $('#log').append('<p>Received: ' + msg.data + '</p>');
        });
        socket.on('input1_response', function(msg) {
            console.log('received data: ' + msg.data)
            //document.querySelector('#input1-text').setAttribute('placeholder', msg.data)
        })
        document.querySelector('#input1-button').addEventListener('click', () => {
            socket.emit('input1_event', {data: document.querySelector('#input1-text').value}); //send value from id to server
            document.querySelector('#input1-text').value = ''; //reset to blank
            return false;   //return false is to prevent normal data route
        });

        /*Below are related to a ws_form numerical example. The socket.on is looking for an ws msg "input2_response."
        The click event listener is needed for the button, keydown is required for using enter as input.*/
        socket.on('input2_response', function(msg) {
            console.log('received data: ' + msg.data)
            //document.querySelector('#input2-number').setAttribute('placeholder', ('set:' + msg.data))
            document.querySelector('#testtoss').textContent = msg.data + ' V'
        })
        let inputNumber = document.querySelector('#input2-number')
        document.querySelector('#input2-button').addEventListener('click', () => {
            if (inputNumber.validity.valid != true)
            {console.log("bad input detected");
                alert(inputNumber.validationMessage)
                return}
            else 
                {console.log("content ok!")}
            socket.emit('input2_event', {data: document.querySelector('#input2-number').value}); //send value from id to server
            //document.querySelector('#input2-number').value = ''; //reset to blank
            return false;   //return false is to prevent normal data route
        });
        document.querySelector('#input2-number').onkeydown = function(e) {
            if(e.keyCode == 13) {
                if (inputNumber.validity.valid != true)
                    {console.log("bad input detected");
                    alert(inputNumber.validationMessage)
                    return}
                else 
                    {console.log("content ok!")}
                socket.emit('input2_event', {data: document.querySelector('#input2-number').value}); //send value from id to server
            //document.querySelector('#input2-number').value = ''; //reset to blank
            return false;   //return false is to prevent normal data route
            }
        };

        //Example table ADC readback. Looks for emit packet
        socket.on('sample_table', function(msg) {
            let tableHead = msg.data['tableHead']
            let tableData = msg.data['tableData']
            console.log('Received data from sample_table')
            for (let i=0; i < 3; i++) {
                document.querySelector('#tableHead'+i).textContent = tableHead[i]
                document.querySelector('#rowA'+i).textContent = tableData['rowA'][i]
                document.querySelector('#rowB'+i).textContent = tableData['rowB'][i]
                document.querySelector('#rowC'+i).textContent = tableData['rowC'][i]
                document.querySelector('#rowD'+i).textContent = tableData['rowD'][i]
                document.querySelector('#rowE'+i).textContent = tableData['rowE'][i]
                document.querySelector('#rowF'+i).textContent = tableData['rowF'][i]
                document.querySelector('#rowG'+i).textContent = tableData['rowG'][i]
                document.querySelector('#rowH'+i).textContent = tableData['rowH'][i]
              }
        })

        $('form#emit').submit(function(event) {
            socket.emit('my event', {data: $('#emit_data').val()});
            return false;
        });
        /*$('form#form1').submit(function(event) {
            socket.emit('input1_event', {data: document.querySelector('#input1').value});
            document.querySelector('#input1').value = '';
            return false;
        });*/
        $('form#broadcast').submit(function(event) {
            socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
            return false;
        });
    });



</script>
{% endblock %}
